body
{
   font-size: 12px;
   color: blue;
   font-family: arial, helvetica, verdana, sans-serif;
   text-decoration: underline;
}
.button
{
   font-weight: bold;
   font-size: 14px;
   color: red;
   background-color: Yellow;
   font-family: arial, helvetica, verdana, sans-serif;
}
.label
{
   font-weight: bold;
   font-size: 18px;
   color: green;
   font-family: arial, helvetica, verdana, sans-serif;
}
